.main-container {
  overflow: hidden;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1.25rem;
}

/* Journey section */
#journey-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-column-gap: calc((100vw + (2.5rem * 2 + 16px * 4) * 4) / 20);
  -moz-column-gap: calc((100vw + (2.5rem * 2 + 16px * 4) * 4) / 20);
  column-gap: calc((100vw + (2.5rem * 2 + 16px * 4) * 4) / 20);
  row-gap: 0px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0rem;
}
.journey-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 0.75rem;
}
.journey-section p {
  z-index: 1;
}
.journey-section img {
  position: absolute;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 0;
}
.journey-section img.landscape {
  width: 10rem;
}
.journey-section img.portrait {
  height: 10rem;
}
@media screen and (min-width: 1024px) {
  #journey-container :nth-child(4n + 2).journey-section {
    margin-top: 3rem;
  }
  #journey-container :nth-child(4n + 3).journey-section {
    margin-top: 6rem;
  }
  #journey-container :nth-child(4n).journey-section {
    margin-top: 9rem;
  }
}
@media screen and (max-width: 1024px) {
  #about-page .width-30,
  #about-page .width-60 {
    width: calc(100vw - 2.5rem * 2);
  }
  #journey-container :nth-child(2n).journey-section {
    margin-top: 5rem;
  }
  #journey-container {
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}

/* Experience section */
#experience-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1.875rem;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
#experience-container :nth-last-child(1).divider {
  display: none;
}
.experience-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  gap: 1rem;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1rem;
}
.stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 5rem;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
.stats-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.tool-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 0.875rem;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
.tool-section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  gap: 0.5rem 1rem;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tool-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.375rem;
}
.tool-items img {
  width: 1.5rem;
  height: 1.5rem;
}
