/* Typefaces */
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');
@font-face {
  font-family: "LHanoienne";
  src:
    url("../fonts/LHanoienne.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
h1,
h5 {
  font-family: "LHanoienne", sans-serif;
}
h2,
h3,
h4,
p {
  font-family: 'Outfit', sans-serif;
}
p.large,
p.large-number {
  font-family: 'Familjen Grotesk', sans-serif;
}

/* Colors */
h2,
h3,
h4,
p,
ul {
  color: var(--white);
}
h1,
h5,
a {
  color: var(--illuminating-yellow);
}

/* Styles */
a {
  text-decoration: none;
}
h1 {
  line-height: 1;
}
h5 {
  line-height: 1;
  margin: 0px 0px -30px;
  text-transform: uppercase;
}
h2,
h3,
h4,
p,
ul {
  font-style: normal;
  line-height: normal;
  border: 0px;
  margin: 0px;
}
p {
  text-transform: none;
}
h4 {
  text-transform: capitalize;
}
h2,
h3,
p.large,
p.button-text {
  text-transform: uppercase;
}

/* Weights */
h1,
p {
  font-weight: 400;
}
h3,
p.mid {
  font-weight: 500;
}
h2,
h4 {
  font-weight: 600;
}
p.large,
p.button-text {
  font-weight: 700;
}

/* Sizes */
@media all {
  :root {
    font-size: 14px;
  }
  h1 {
    font-size: 16vw;
    margin: -5.5vw 0px 0px;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.875rem;
  }
  h4,
  p {
    font-size: 0.8125rem;
  }
  h5 {
    font-size: 4vw;
  }
  p.large,
  p.large-number {
    font-size: 2.5rem;
    letter-spacing: -0.2rem;
  }
  p.mid {
    font-size: 1.25rem;
  }
  p.button-text,
  p.caption {
    font-size: 0.75rem;
  }
}
@media all and (min-width: 641px) {
  h1 {
    font-size: 12vw;
    margin: -4vw 0px 0px;
  }
  h5 {
    font-size: 3vw;
  }
}
@media all and (min-width: 641px) and (orientation: portrait) {
  p.mid {
    font-size: 1.75rem;
  }
}
@media all and (min-width: 961px) {
  :root {
    font-size: 16px;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4,
  p {
    font-size: 1rem;
  }
  p.large,
  p.large-number {
    font-size: 3.875rem;
    letter-spacing: -0.31rem;
  }
  p.mid {
    font-size: 2rem;
  }
  p.button-text,
  p.caption {
    font-size: 0.875rem;
  }
}
@media all and (min-width: 1281px) {
  p.mid {
    font-size: 2.5rem;
  }
}
