/* Responsive styling
   Note: 806px = (experience's content width (42.5rem) + margin (2.5rem) * 3) * px/rem (16) + margin (8px) * 2
*/
@media all and (min-width: 800px) {
  .desktop {
    display: flex;
  }
  .about-section .about-items {
    width: 15vw;
  }
  .about-section .about-items:last-of-type {
    width: 30vw;
  }
}
@media all and (max-width: 800px) {
  .desktop {
    display: none;
  }
  .about-section .about-items {
    width: 30vw;
  }
  .about-section .about-items:first-of-type {
    width: 20vw;
  }
}

/* Local styling */
.main-section {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 0px;
}
.more-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-self: stretch;
}
.more-section {
  display: flex;
  align-items: center;
}

/* Thumbnail section */
#thumbnail-container {
  display: flex;
  height: calc(100vh - 4rem);
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#thumbnail-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.75rem;
  position: absolute;
  bottom: 4rem;
  right: 2.5rem;
  text-align: right;
}

/* About section */
#about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;
}
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.about-items.general-section {
  flex-direction: column;
}
